{% extends "layout.html" %}


{% block content %}

<div class="container_policy_page">
    <h1>Privacy Policy</h1>
    
    <p>Last updated: (May 08th, 2023)</p>
    
    <p>Your Company Name ("us", "we", or "our") operates lykosunleashed.com (the "Site"). This page informs you of our policies regarding the collection, use, and disclosure of Personal Information we receive from users of the Site.</p>
    
    <h2>Information Collection And Use</h2>
    <p>While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to, your name, email address, postal address, and phone number ("Personal Information").</p>
    
    <!-- Add more sections as needed -->
  </div>

{% endblock %}