{% extends "layout.html" %}


{% block content %}

<div class="container_returns_page"></div>

<h1>Shipping &amp; Returns</h1>
    
<p>Last updated: (May 08th, 2023)</p>

<p>Your Company Name ("us", "we", or "our") operates lykosunleashed.com (the "Site"). This page informs you of our policies regarding the collection, use, and disclosure of Personal Information we receive from users of the Site.</p>

<h2>Overview</h2>
<p>We have a 30-day return policy, which means you have 30 days after receiving your item to request a return. 
    To be eligible for a return, your item must be in the same condition that you received it, unworn or unused, with tags, and in its original packaging. You’ll also need the receipt or proof of purchase. 
    To start a return, you can contact us at lykosunleashed@gmail.com. Please note that returns will need to be sent to the following address: 9611 Brookdale Dr Suite 100-267, Charlotte, NC 28215
    If your return is accepted, well send you a return shipping label, as well as instructions on how and where to send your package. Items sent back to us without first requesting a return will not be accepted. 
    You can always contact us for any return question at lykosunleashed@gmail.com. 
     </p>

<h2>Damages &amp; Issues</h2>
<p>Please inspect your order upon reception and contact us immediately if the item is defective, damaged or if you receive the wrong item, so that we can evaluate the issue and make it right.
    </p>
  <h2> Exceptions </h2>
  <p>
    Certain types of items cannot be returned, like perishable goods (such as food, flowers, or plants), custom products (such as special orders or personalized items), and personal care goods (such as beauty products). We also do not accept returns for hazardous materials, flammable liquids, or gases. Please get in touch if you have questions or concerns about your specific item. 
    Unfortunately, we cannot accept returns on sale items or gift cards.
          </p>
</div>


{% endblock %}